body, html {
    height: 100%;
    margin: 0;
    background-color: #444654;
    color: #d1d5db;
    font-family: Arial, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 80%;
}

p {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 0px solid #ccc;
}

.topLevelColGroup col:nth-child(1) {
    width: 25%;
}

.topLevelColGroup col:nth-child(2) {
    width: 50%;
}
.topLevelColGroup col:nth-child(3) {
    width: 25%;
}

.buttonTableColGroup col:nth-child(1) {
    width: 50%;
}

.buttonTableColGroup col:nth-child(2) {
    width: 50%;
}
/* Define column widths */
td:first-child {
    width: 25%;
}

td:nth-child(2) {
    width: 50%;
}

td:last-child {
    width: 25%;
}

input[type="checkbox"]:focus {
    outline: none;
}

button:focus {
    outline: none;
}

label {
    cursor: pointer;
}

#randomButton {
    width: 120px;
}

#restartButton {
    width: 120px;
}

.rbtd {
    text-align: right;
}

.rtd {
    text-align: left;
}
